[Unit]
Description=UWBP Frontend Server
Requires=uwbp-server.service
After=uwbp-server.service

[Service]
Type=simple
WorkingDirectory=/opt/uwbp/frontend
ExecStart=/usr/local/bin/node build
Restart=always
RestartSec=5
User=root
Environment=HOST=0.0.0.0
Environment=PORT=80
Environment=BACKEND_URL=http://localhost:8080
Environment=PROXY_TIMEOUT_MS=2000
EnvironmentFile=-/opt/uwbp/frontend/.env

[Install]
WantedBy=multi-user.target
